<%- include("partials/header"); -%>
    <h2 class="posts-content"><%= title %></h2>
    <b><em><p class="posts-content">Author: <%= author %></em></p></b>
    <p class="posts-content"><%= content %></p>
<%- include("partials/footer"); -%>